* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #6799ff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: lightblue;
}



.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
    display:none;
}


.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

/* Add your CSS here */
.nav-bar {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    align-items: center;
}

.logo {
  min-width: 140px;
  /*border: 1px solid black;*/
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid black;*/
}

.menu-left {
    display: flex;
    align-items: center;
    flex-wrap: none;
    list-style: none;
    padding: 0;
    /*border: 1px solid green;*/
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    min-width: 60px;
    /*border: 1px solid black;*/
}

.header {
  margin-left: 15px;
  display: inline-block;
  /*border: 1px solid orange;*/

}

.header:hover {
  border-bottom: thin solid #6799ff;
}

a {
  text-decoration: none;
  font-family: roboto;
}

.works {
    min-width: 115px;
}
.sign-in {
    min-width: 60px;
    margin-left: 15px;
}
@media (max-width: 610px) {
    .hamburger {
        display: inline-block;
        order: 2;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .header {
        display: none;
    }

    .logo {
      width: 100px;
    }
}

@media (max-width: 780px) {
    .header nav {
        display: none;
    }
}
